.home {

  height: 100vh;
  padding: 0 75px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__menu {
    height: 95%;

    &__options {
      height: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &__settings {
      height: 30%;
    }

    &__progress {
      height: 20%;
    }
  }

  &__footer {
    height: 5%;
    @include font-size-xs;
    color: $color-white-1;
  }
}