.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 75px;
  text-align: center;

  &__menu {
    height: 95%;

    &__options {
      align-items: flex-end;
      display: flex;
      flex-wrap: wrap;
      height: 50%;
      justify-content: space-evenly;
    }

    &__settings {
      height: 25%;
    }

    &__progress {
      display: flex;
      flex-direction: column;
      height: 25%;
      justify-content: center;
    }
  }

  &__footer {
    color: $color-white-1;
    @include font-size-xs;
    height: 5%;
  }
}